/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
    margin:0;
}
p{
    margin:0;
}
ul{
    margin:0;
    padding:0;
}
label{
    margin:0;
}
/*-- main --*/
.content{
    position:relative;

}
.wrapper{

}
.fly-cart{
    position:absolute;
    top: 9.5%;
    /*left: 15%;*/
    width: 80%;
}
.content h1{
    text-align: center;
    font-size: 42px;
    color: #fff;
    text-shadow: 1px 1px 1px #D2D2D2;
    margin-bottom: 25px;
}
.main {
    margin: 100px 0;
}

.items {
    display: block;
    margin: 20px 0;
}
.item {
    float: left;
    margin: 0 1%;
    width: 31%;
    box-shadow: 1px 1px 10px #B7B7B7;
    border-radius: 8px;
}
.fly-item1{
    background: #ef717a;
}
.item-img {

    padding: 5.9% 18%;
    border-radius: 8px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}
.item img {
    width:100%;

}
.fly-item2 {
    background: #e74c3c;
}
.fly-item3 {
    background: #14353f;
}
.item h3 {
    color: #fff;
    font-size: 1.8em;
    padding: 1em 0em 0;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
.item p {
    color: #fff;
    padding: 0 0 0 1.2em;
    font-size: .95em;
    float: left;
    margin-top: .4em;
    font-weight: 300;
}
.item p span {
    font-size: 1.4em;
}
.item h6 {
    padding: 0 1.5em;
    line-height: 1.8em;
    margin: 1em 0;
    font-weight: 400;
    text-align:center;
    font-family: 'Montserrat', sans-serif !important;
}
.fly-item3 h6 {
    color: #81A3AD;
}
.fly-item2 h6 {
    color: #FFB3AC;
}
.fly-item1 h6 {
    color: #FFBCC1;
}
button {
    border: none;
    background: #fff;
    color: #464646;
    text-transform: uppercase;
    float: right;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    transition:0.5s all;
    border-radius: 60px;
    font-family: 'Montserrat', sans-serif !important;
}
button:hover {
    background: #009cad;
    color: #fff;
    transition:0.5s all;
}

.shopping-cart {
    display: inline-block;
    float: right;
}
.shopping-cart em{
    font-size:40px;
    color: #14353f;

}








